<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<body>
    <div ng-app="myApp" ng-controller="myCtrl">
        <header>
            <h1 class="text-center">Review </h1>
        </header>
        <div class="container">
            <div class="list-group">
                <legend>Reviews</legend>
                <div class="alert alert-secondary" role="alert" ng-repeat="item in review" >
                    <b>{{item.firstname}} {{item.lastname}} - {{item.star}} คะแนน</b>
                    <p>{{item.comment}}</p>
                    <small>{{item.email}}</small>
                </div>
            </div>
            <hr>
            <form class="form-horizontal" name="reviewform" ng-submit="reviewform.$valid && addData(data)" novalidate>
                <fieldset>
                    <!-- Form Name -->
                    <legend>Review Form</legend>
                    <!-- Text input-->
                    <div class="form-group" ng-class="{ 'has-error' : reviewform.firstname.$invalid}">
                    <!-- <div class="form-group" ng-class="{ 'has-error' : reviewform.firstname.$invalid && !reviewform.firstname.$pristine}"> -->
                        <label class="col-md-4 control-label" for="firstname">ชื่อ <span class="text-danger">*</span></label>
                        <div class="col-md-4">
                            <input type="text" ng-model="data.firstname" name="firstname" id="firstname" class="form-control input-md" ng-minlength="3" ng-maxlength="10" required>

                            <span ng-show="reviewform.firstname.$error.required" class="text-danger">This is required.</span>
                            <span ng-show="reviewform.firstname.$error.minlength" class="text-danger">This is required min 3 Char.</span>
                            <span ng-show="reviewform.firstname.$error.maxlength" class="text-danger">This is required max 10 Char.</span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : reviewform.lastname.$invalid}">
                    <!-- <div class="form-group" ng-class="{ 'has-error' : reviewform.lastname.$invalid && !reviewform.lastname.$pristine}"> -->
                        <label class="col-md-4 control-label" for="lastname">นามสกุล <span class="text-danger">*</span></label>
                        <div class="col-md-4">
                            <input type="text" ng-model="data.lastname" name="lastname" id="lastname" class="form-control input-md" ng-minlength="3" ng-maxlength="10" required>

                            <span ng-show="reviewform.lastname.$error.required" class="text-danger">This is required.</span>
                            <span ng-show="reviewform.lastname.$error.minlength" class="text-danger">This is required min 3 Char.</span>
                            <span ng-show="reviewform.lastname.$error.maxlength" class="text-danger">This is required max 10 Char.</span>
                        </div>
                    </div>
                    <!-- email input-->
                    <div class="form-group" ng-class="{ 'has-error' : reviewform.email.$invalid}">
                        <label class="col-md-4 control-label" for="email">อีเมล์</label>
                        <div class="col-md-4">
                            <input type="email" ng-model="data.email" name="email" id="email" class="form-control input-md">
                            {{reviewform.email.$error.email}}
                            <span ng-show="reviewform.email.$error.required" class="text-danger">This is required.</span>
                            <span ng-show="reviewform.email.$error.email" class="text-danger">email is invalid</span>
                        </div>
                    </div>
                    <!-- Select Basic -->
                    <div class="form-group" ng-class="{ 'has-error' : reviewform.selectbasic.$invalid && !reviewform.selectbasic.$pristine}">
                        <label class="col-md-4 control-label" for="selectbasic">ความพึงพอใจ <span class="text-danger">*</span></label>
                        <div class="col-md-4">
                            <select ng-model="data.star" id="selectbasic" name="selectbasic" class="form-control" required>
                                <option value="1">1 Stars</option>
                                <option value="2">2 Stars</option>
                                <option value="3">3 Stars</option>
                                <option value="4">4 Stars</option>
                                <option value="5">5 Stars</option>
                            </select>

                            <span ng-show="reviewform.selectbasic.$error.required" class="text-danger">This is required.</span>
                        </div>
                    </div>
                    <!-- Textarea -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="textarea">แสดงความคิดเห็น</label>
                        <div class="col-md-4">
                            <textarea ng-model="data.comment" name="textarea" id="textarea" class="form-control">แสดงความคิดเห็น</textarea>
                        </div>
                    </div>
                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="singlebutton"> </label>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <script>
        var app = angular.module("myApp", []);
        app.controller('myCtrl', function($scope) {
            $scope.review = []; // เก็บข้อมูลทั้งหมดที่ถูกส่งจากฟอร์ม
            $scope.data = {}; // ข้อมูลที่ผูกกับ form
            // ฟังก์ชั่น เพิ่มข้อมูลลง datas
            $scope.addData = function(data) {
                $scope.review.push(data);
                $scope.data = {};
            };
        });
        </script>
</body>

</html>